In [60]:
#bm1

1. Загрузите файл <code>Russian_ds.tsv</code>.
2. Создайте столбец с типом населенных пунктов.
3. Создайте столбец с названиями населенных пунктов, очищенный от типов.
   Созданные столбцы не должны содержать пропущенных значения, если невозможно установить тип населенного пункта, заполните пропуски. Допустимо заменить буквы ё на е для некоторых типов населенных пунктов.

Ожидаемый результат:

    name              | type  |  only_name
город Михайловка      | город | Михайловка
деревня Малое Сартово |деревня| Малое Сартово

4. Получите список уникальных типов населенных пунктов, определите число уникальных типов населенных пунктов. Определите долю каждого типа населенного пункта. Для трех любых неизвестных для вас ранее типов населенных пунктов определите региональную принадлежность. 
5. Посчитайте сумму населения по типам населенных пунктов в абсолютных и относительных значениях.
6. Определите топ-10 самых популярных названий населенных пунктов. Определите число уникальных названий населенных пунктов.
7. Определите населенные пункты с самыми короткими названиями. Получите список населенных пунктов с длиной в два символа, найдите наиболее популярные названия из найденного списка. Определите региональную принадлежность. Повторите исследование для населенных пунктов с тремя символами.
8. Найдите населенный пункт с самым длинным названием из одного слова без пробелов и дефисов.
9. Определите число населенных пунктов на букву "Ы". На какую букву чаще всего начинаются названия населенных пунктов?
10. Определите сколько раз встречаются в названиях населенных пунктов прилагательные: большой, малый, красный, новый.
11. Найдите несколько примеров необычных названий населенных пунктов, связанных с одной из тематик (одной или нескольких, можно в разных). Допустимо предложить свою тематику.

Комментарии к коду, при необходимости, оформите используя #.<br>
Добавляйте комментарии в проект, оформите проект соблюдая структуру заданий.
<br> Разделы 4-11 сопроводите выводами.<br>
Нумерацию заданий, комментарии к заданиям и выводы по проекту оформите, используя текстовые ячейки.

Тема            | Пример необычного названия населенного пункта
Животные        | Старый Бык
Здания          | Амбарчик
Эмоции          | Нескучай
Еда             | Огурцы
Особенные места | Старая Канава
Жители          | Горбуны

### Загрузка и обработка данных

#### Общий взгляд

In [113]:
import pandas as pd
df = pd.read_csv('Russian_ds.tsv', sep='\t')

In [114]:
df

,name,other_name,region_name,district,lon,lat,population,approx
0,город Михайловка,NaN,Волгоградская область,городской округ Город Михайловка,43.239730,50.070850,58407.0,0.0
1,посёлок Сибирский,NaN,Алтайский край,городской округ Посёлок Сибирский,83.839377,53.557357,11807.0,0.0
2,хутор Никольский,NaN,Белгородская область,Ракитянский муниципальный район,35.902320,51.005698,20.0,0.0
3,село Драгунка,NaN,Белгородская область,Ивнянский муниципальный район,35.951177,51.022732,409.0,0.0
4,село Нижние Пены,NaN,Белгородская область,Ракитянский муниципальный район,35.950410,51.005147,1000.0,0.0
...,...,...,...,...,...,...,...,...
160178,деревня Макарово,"деревня Макарово, Ермаковский сельский округ",Ярославская область,Даниловский муниципальный район,39.817327,58.328284,0.0,0.0
160179,деревня Малое Сартово,NaN,Ярославская область,Даниловский муниципальный район,39.686197,58.201643,0.0,0.0
160180,деревня Рыбино,NaN,Ярославская область,Даниловский муниципальный район,39.720264,58.374330,0.0,0.0
160181,деревня Тайбузино,NaN,Ярославская область,Даниловский муниципальный район,40.540343,57.956009,0.0,0.0
160182,деревня Яскино,"деревня Яскино, Никольский сельский округ",Ярославская область,Даниловский муниципальный район,40.537059,57.970415,0.0,0.0

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160183 entries, 0 to 160182
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   name         160183 non-null  object
 1   other_name   5636 non-null    object
 2   region_name  160183 non-null  object
 3   district     160183 non-null  object
 4   lon          160183 non-null  float64
 5   lat          160183 non-null  float64
 6   population   160183 non-null  float64
 7   approx       160183 non-null  float64
dtypes: float64(4), object(4)
memory usage: 9.8+ MB

#### Поиск явных и скрытых дубликатов

1.1 Проверка на скрытые дубликаты

In [116]:
df.duplicated().sum()

np.int64(0)

1.2 Проверка на скрытые дубликаты

In [117]:
df['name'].duplicated().sum()

np.int64(61848)

In [118]:
df['name'].value_counts()

name
деревня Александровка                  180
посёлок Первомайский                   159
деревня Ивановка                       139
деревня Каменка                        136
деревня Горка                          135
                                      ...
село Ковильне                            1
село Вітрянка                            1
посёлок при станции Гайтер               1
сельский посёлок станция Сторожевое      1
село Нижние Пены                         1
Name: count, Length: 98335, dtype: int64

In [119]:
df[df['name'] == 'деревня Александровка']
# Следовательно: name и region_name могут повторяться - важны различиня в столбцах district, lon, lit (у дубликатов они должны совпадать)

,name,other_name,region_name,district,lon,lat,population,approx
3090,деревня Александровка,NaN,Брянская область,Клетнянский муниципальный район,32.810725,53.400407,30.0,0.0
3201,деревня Александровка,NaN,Брянская область,Почепский муниципальный район,33.801325,52.849179,2.0,0.0
3356,деревня Александровка,NaN,Брянская область,Жуковский муниципальный округ,33.965415,53.669912,20.0,0.0
3745,деревня Александровка,NaN,Брянская область,Суражский муниципальный район,32.289954,53.114027,0.0,1.0
6979,деревня Александровка,NaN,Калужская область,Ферзиковский муниципальный район,36.683624,54.538087,4.0,1.0
...,...,...,...,...,...,...,...,...
146264,деревня Александровка,NaN,Свердловская область,Тугулымский городской округ,64.650900,56.963502,0.0,0.0
147409,деревня Александровка,NaN,Тюменская область,Викуловский муниципальный район,71.205207,56.842404,10.0,0.0
148244,деревня Александровка,NaN,Тюменская область,Ярковский муниципальный район,66.828727,57.675822,10.0,0.0
155804,деревня Александровка,NaN,Тверская область,Зубцовский муниципальный район,35.009633,56.046491,400.0,1.0
159052,деревня Александровка,NaN,Калужская область,Жуковский муниципальный район,36.719821,55.182375,2.0,0.0

In [120]:
df['district'].value_counts()

district
Вологодский муниципальный район       906
Калининский муниципальный район       656
Рыбинский муниципальный район         637
Псковский муниципальный район         608
Даниловский муниципальный район       592
                                     ...
городской округ Город Нефтеюганск       1
городской округ Город Ноябрьск          1
городской округ Восход                  1
городской округ Город Коряжма           1
городской округ Город Новочеркасск      1
Name: count, Length: 2242, dtype: int64

In [121]:
df[['lon', 'lat']].value_counts()

lon          lat
 179.258312  63.061681    1
-179.618030  70.936365    1
-179.478314  68.917021    1
-179.411706  68.892519    1
-179.290962  65.537057    1
                         ..
-173.941854  64.407770    1
-173.218917  64.427406    1
-173.150786  64.328997    1
-172.964299  67.037131    1
-172.858898  64.498659    1
Name: count, Length: 160183, dtype: int64

Поищем дубликаты более подробно

In [122]:
df['name'].value_counts()

name
деревня Александровка                  180
посёлок Первомайский                   159
деревня Ивановка                       139
деревня Каменка                        136
деревня Горка                          135
                                      ...
село Ковильне                            1
село Вітрянка                            1
посёлок при станции Гайтер               1
сельский посёлок станция Сторожевое      1
село Нижние Пены                         1
Name: count, Length: 98335, dtype: int64

In [123]:
# Для примера рассмотрим этот дубликат
df[df['name'] == 'село Вітрянка']

,name,other_name,region_name,district,lon,lat,population,approx
160117,село Вітрянка,NaN,Республика Крым,Раздольненский муниципальный район,33.573853,45.660141,247.0,0.0

In [124]:
df[(df['name'] == 'село Вітрянка') | (df['name'] == 'село Ветрянка')]

,name,other_name,region_name,district,lon,lat,population,approx
156559,село Ветрянка,село Черке́з Тата́рский; село Черке́з Неме́цки...,Республика Крым,Раздольненский муниципальный район,33.574200,45.659739,247.0,0.0
160117,село Вітрянка,NaN,Республика Крым,Раздольненский муниципальный район,33.573853,45.660141,247.0,0.0

Найдены два одинаковых по смыслу объекта, у них отличаются lon и lat. Следовательно, по этим двум столбца нельзя точно сказать, что дубликаты отсутствуют. Также видим причину возникновения дубликата и способ поиска - двоякое написание слов (подмена схожих букв)

In [125]:
df['name'].unique()[-10:]

array(['местечко Ботик', 'деревня Скрипицино', 'станция Ваулово',
       'разъезд 16 км', 'станция Лазарево', 'деревня Бочевка',
       'село Привітне', 'село Штормове', 'железнодорожный разъезд 1062',
       'деревня Малое Сартово'], dtype=object)

In [126]:
df[(df['name'] == 'село Приветное') | (df['name'] == 'село Привітне')]

,name,other_name,region_name,district,lon,lat,population,approx
155900,село Приветное,NaN,Республика Крым,Кировский муниципальный район,35.058843,45.115177,2755.0,0.0
156328,село Приветное,NaN,Республика Крым,Сакский муниципальный район,33.136764,45.306411,466.0,0.0
156484,село Приветное,село Ускут,Республика Крым,городской округ Алушта,34.677522,44.822076,1619.0,0.0
160166,село Привітне,NaN,Республика Крым,Сакский муниципальный район,33.140755,45.304265,466.0,0.0

Следовательно, вновь наблюдаем схожую ситуацию. Для поиска дубликатов, необходимо работать со столбцом name

#### Анализ столбца name (1-3)

In [127]:
df['name'].unique()[:40]

array(['город Михайловка', 'посёлок Сибирский', 'хутор Никольский',
       'село Драгунка', 'село Нижние Пены', 'село Хомутцы',
       'село Самарино', 'село Поповка', 'село Демидовка',
       'поселок Прилесье', 'хутор Высокий', 'хутор Подвысокий',
       'село Вязовое', 'село Колотиловка', 'село Репяховка',
       'хутор Подоловский', 'село Графовка', 'село Романовка',
       'посёлок Задорожный', 'хутор Бондарев', 'хутор Ново-Репяховка',
       'поселок Вязовский', 'хутор Крисаново', 'хутор Савченко',
       'хутор Барилов', 'хутор Добрино', 'село Илек-Кошары',
       'хутор Новый Путь', 'поселок Юсупово',
       'посёлок городского типа Красная Яруга', 'хутор Фищево',
       'хутор Первомайский', 'поселок Быценков', 'село Русская Берёзовка',
       'поселок Отрадовский', 'село Новозахаровка', 'село Борисполье',
       'село Новоленинское', 'посёлок городского типа Пролетарский',
       'село Отрадовка'], dtype=object)

In [128]:
# Создадим список типов населенных пунктов по классификатору ОКАТО
okato_type = [
    "поселок городского типа",
    "рабочий поселок",
    "курортный поселок",
    "дачный поселок",
    "сельский поселок",
    "дачный поселковый совет",
    "поселок сельского типа",
    "городской поселок",
    "поселок при станции",
    "поселок при железнодорожной станции",
    "поселок при станции",
    "поселок станции",
    "населенный пункт",
    "железнодорожная станция",
    "железнодорожная будка",
    "железнодорожная казарма",
    "железнодорожная платформа",
    "железнодорожный разъезд",
    "железнодорожный остановочный пункт",
    "железнодорожный путевой пост",
    "железнодорожный блокпост",
    "советское хозяйство",
    "железнодорожная ветка",
    "железнодорожный комбинат",
    "железнодорожная площадка",
    "коллективное хозяйство",
    "остановочная платформа",
    "молочнотоварная ферма совхоза",
    "остановочный пункт",
    "поселок",
    "переезд",
    "проселок",
    "город",
    "кишлак",
    "село",
    "местечко",
    "деревня",
    "слобода",
    "станция",
    "станица",
    "хутор",
    "улус",
    "разъезд",
    "колхоз",
    "совхоз",
    "починок",
    "участок",
    "выселок",
    "аул",
    "аал",
    "кутан",
    "заимка",
    "кордон",
    "селище",
    "территория",
    "погост",
    "седо",
    "слободка",
    "казарма",
    "арбан",
    "блок-пост",
    "экопоселение",
    "остров",
    "поселение"
]

In [129]:
df1 = df.copy()
df1['name'] = df1['name'].str.replace('ё', 'е').str.strip().str.replace('\xa0', ' ').str.lower()

In [130]:
idx_ignore = []

In [131]:
for locality in okato_type:
    df_filtered = df1[df1['name'].str.contains(f'{locality} ', case=False)].copy()
    if len(df_filtered) != 0:
        idx = list(set(df_filtered.index) - set(idx_ignore))
        df1.loc[idx, 'type'] = locality
        df1.loc[idx, 'only_name'] = df_filtered['name'].str.split(f'{locality} ').str[-1]
        
        idx_ignore.extend(df_filtered.index.tolist())

In [132]:
# Контроль повторяющихся типов
df1[df1['type'].isna()]['name'].value_counts()

name
46 километра железнодорожный разъезд    1
18 поселок                              1
12 поселок                              1
19 поселок                              1
21 поселок                              1
высел новые мамеи                       1
обгонная платформа № 216                1
обгонный пункт чебачий                  1
отделение сельхозтехника                1
мыс абрамовский                         1
41-й кордон                             1
куватал                                 1
кожанов                                 1
риж-губа                                1
выселки нижне-спасские                  1
полустанок тельная                      1
сосновский кордон                       1
газиюрт                                 1
горноводное                             1
городок ковров-35                       1
тимасикт                                1
миша-яг                                 1
лядецкий переезд                        1
малинки                                 1
джепель                                 1
2-й лохинский поселок                   1
лидино                                  1
місто євпаторія                         1
Name: count, dtype: int64

Обработаем оставшиеся записи ручным способом

In [133]:
df1[df1['type'].isna()]['name'].head(6)

7716     46 километра железнодорожный разъезд
53283                              18 поселок
53284                              12 поселок
53293                              19 поселок
53294                              21 поселок
67721                       высел новые мамеи
Name: name, dtype: object

Вручную обработаем записи с типом поселок

In [134]:
df1.loc[[53283, 53284, 53293, 53294], 'type'] = 'поселок'
df1.loc[[53283, 53284, 53293, 53294], 'only_name'] = ['18', '12', '19', '21']
df1[df1['name'].str.contains('\d+ поселок')]

,name,other_name,region_name,district,lon,lat,population,approx,type,only_name
53283,18 поселок,NaN,Московская область,городской округ Шатура,39.504276,55.540441,52.0,0.0,поселок,18
53284,12 поселок,NaN,Московская область,городской округ Шатура,39.432526,55.547686,159.0,0.0,поселок,12
53293,19 поселок,NaN,Московская область,городской округ Шатура,39.384317,55.538598,25.0,0.0,поселок,19
53294,21 поселок,NaN,Московская область,городской округ Шатура,39.386707,55.504637,9.0,0.0,поселок,21

Обработка населенных пунктов из трех слов

In [135]:
def type_only_name(name, type_n, only_name):
    idx = df1[df1['name'] == name].index
    df1.loc[idx, 'type'] = type_n
    df1.loc[idx, 'only_name'] = only_name

In [136]:
type_only_name('2-й лохинский поселок', 'поселок', '2-й лохинский')
type_only_name('46 километра железнодорожный разъезд', 'железнодорожный разъезд', '46 километра')
type_only_name('высел новые мамеи', 'высел', 'новые мамеи')
type_only_name('обгонная платформа № 216', 'обгонная платформа', '№ 216')
type_only_name('обгонный пункт чебачий', 'обгонный пункт', 'чебачий')

Обработка населенных пунктов из двух слов

In [137]:
df_test2 = df1[(df1['type'].isna()) & (df1['name'].str.contains(' '))].copy()

In [138]:
df_test2.index

Index([111614, 116676, 142458, 157262, 157728, 157732, 158363, 158892, 160003], dtype='int64')

In [139]:
df_test2

,name,other_name,region_name,district,lon,lat,population,approx,type,only_name
111614,отделение сельхозтехника,NaN,Республика Дагестан,Новолакский муниципальный район,46.523358,43.243811,300.0,0.0,NaN,NaN
116676,мыс абрамовский,маяк Абрамовский,Архангельская область,Мезенский муниципальный район,43.267576,66.407988,0.0,0.0,NaN,NaN
142458,41-й кордон,NaN,Челябинская область,Нагайбакский муниципальный район,60.168110,53.525235,0.0,0.0,NaN,NaN
157262,выселки нижне-спасские,NaN,Тамбовская область,Рассказовский муниципальный район,41.726315,52.603949,6.0,0.0,NaN,NaN
157728,полустанок тельная,NaN,Республика Бурятия,Кабанский муниципальный район,105.935979,51.728781,0.0,0.0,NaN,NaN
157732,сосновский кордон,населенный пункт Сосновский кордон,Чувашская Республика — Чувашия,Чебоксарский муниципальный район,47.237455,56.207954,0.0,0.0,NaN,NaN
158363,городок ковров-35,NaN,Владимирская область,Ковровский муниципальный район,41.475372,56.170844,0.0,0.0,NaN,NaN
158892,лядецкий переезд,NaN,Псковская область,муниципальное образование Гдовский район,27.915160,58.832130,10.0,0.0,NaN,NaN
160003,місто євпаторія,NaN,Республика Крым,городской округ Евпатория,33.366900,45.207377,107650.0,0.0,NaN,NaN

In [140]:
df_test3 = df_test2['name'].str.split(' ')

Для начала обработаем строки 142458, 157732 и 158892 - их нужно отзеркалить

In [141]:
df_test3.loc[[142458, 157732, 158892]] = df_test3.loc[[142458, 157732, 158892]].str[::-1]

In [142]:
df_test4 = df_test3.apply(lambda x: ' '.join(x))

In [143]:
df_test4

111614    отделение сельхозтехника
116676             мыс абрамовский
142458                 кордон 41-й
157262      выселки нижне-спасские
157728          полустанок тельная
157732           кордон сосновский
158363           городок ковров-35
158892            переезд лядецкий
160003             місто євпаторія
Name: name, dtype: object

In [144]:
df1.loc[df_test2.index, 'type'] = df_test4.str.split(' ').str[0]
df1.loc[df_test2.index, 'only_name'] = df_test4.str.split(' ').str[1]

Обработка населенных пунктов из одного слова

In [145]:
df1[df1['type'].isna()]['name'].value_counts().index

Index(['куватал', 'кожанов', 'риж-губа', 'газиюрт', 'горноводное', 'тимасикт',
       'миша-яг', 'малинки', 'джепель', 'лидино'],
      dtype='object', name='name')

In [146]:
df1[df1['name'].isin(df1[df1['type'].isna()]['name'].value_counts().index)]

,name,other_name,region_name,district,lon,lat,population,approx,type,only_name
143070,куватал,NaN,Челябинская область,Карабашский городской округ,60.071455,55.631227,4.0,1.0,NaN,NaN
143313,кожанов,поселок Рыков,Челябинская область,Верхнеуральский муниципальный район,59.112744,53.790759,4.0,1.0,NaN,NaN
155660,риж-губа,NaN,Мурманская область,муниципальный округ Город Мончегорск,33.121181,67.871646,4.0,1.0,NaN,NaN
157929,газиюрт,Колхоз имени XXII партсъезда,Республика Дагестан,Бабаюртовский муниципальный район,47.072576,43.417600,150.0,0.0,NaN,NaN
158244,горноводное,NaN,Приморский край,Ольгинский муниципальный район,134.742833,43.711394,43.0,0.0,NaN,NaN
158709,тимасикт,NaN,Республика Коми,муниципальное образование муниципального район...,52.176123,61.923920,13.0,0.0,NaN,NaN
158785,миша-яг,NaN,Республика Коми,муниципальное образование муниципального район...,57.401618,65.169725,0.0,0.0,NaN,NaN
159034,малинки,NaN,Костромская область,Красносельский муниципальный район,41.411598,57.674741,0.0,0.0,NaN,NaN
159082,джепель,NaN,Республика Дагестан,Магарамкентский муниципальный район,48.219520,41.544703,1300.0,0.0,NaN,NaN
159591,лидино,NaN,Тюменская область,муниципальный округ Ямальский район,69.534530,68.498237,0.0,0.0,NaN,NaN

In [147]:
type_only_name('кожанов', 'поселок', 'кожанов')
type_only_name('газиюрт', 'колхоз', 'газиюрт')

In [148]:
# Остаются записи, в которых невозможно установить тип населенного пункта
df1['type'] = df1['type'].fillna('нет')

In [149]:
df1[df1['only_name'].isna()]

,name,other_name,region_name,district,lon,lat,population,approx,type,only_name
143070,куватал,NaN,Челябинская область,Карабашский городской округ,60.071455,55.631227,4.0,1.0,нет,NaN
155660,риж-губа,NaN,Мурманская область,муниципальный округ Город Мончегорск,33.121181,67.871646,4.0,1.0,нет,NaN
158244,горноводное,NaN,Приморский край,Ольгинский муниципальный район,134.742833,43.711394,43.0,0.0,нет,NaN
158709,тимасикт,NaN,Республика Коми,муниципальное образование муниципального район...,52.176123,61.923920,13.0,0.0,нет,NaN
158785,миша-яг,NaN,Республика Коми,муниципальное образование муниципального район...,57.401618,65.169725,0.0,0.0,нет,NaN
159034,малинки,NaN,Костромская область,Красносельский муниципальный район,41.411598,57.674741,0.0,0.0,нет,NaN
159082,джепель,NaN,Республика Дагестан,Магарамкентский муниципальный район,48.219520,41.544703,1300.0,0.0,нет,NaN
159591,лидино,NaN,Тюменская область,муниципальный округ Ямальский район,69.534530,68.498237,0.0,0.0,нет,NaN

Добавим отдельно название населенного пункта для данных записей

In [150]:
df1.loc[df1['only_name'].isna(), 'only_name'] = df1.loc[df1['only_name'].isna(), 'name']

#### Проверка и удаление дубликатов

Обработка украинских слов

In [151]:
df2 = df1.copy()

1.1 Столбец type

In [152]:
df1[df1['type'].str.contains('[іїєґ]', case=False , na=False)]

,name,other_name,region_name,district,lon,lat,population,approx,type,only_name
160003,місто євпаторія,NaN,Республика Крым,городской округ Евпатория,33.3669,45.207377,107650.0,0.0,місто,євпаторія

In [153]:
df1[df1['name'].str.contains('евпатория')]

,name,other_name,region_name,district,lon,lat,population,approx,type,only_name
156686,город евпатория,Керкинитида; Гёзлёв,Республика Крым,городской округ Евпатория,33.367639,45.190634,107650.0,0.0,город,евпатория

По смыслу эти строки одинаковы, следовательно, удалим дубликат 160003 вручную

In [154]:
df2.drop(index=160003, inplace=True)

1.2 Столбец only_name

In [155]:
ukr_row = df1[df1['only_name'].str.contains('[іїєґ]', case=False , na=False)]
ukr_row

,name,other_name,region_name,district,lon,lat,population,approx,type,only_name
159990,селище міського типу чорноморське,NaN,Республика Крым,Черноморский муниципальный район,32.695980,45.505267,11356.0,0.0,селище,міського типу чорноморське
159991,село оленівка,NaN,Республика Крым,Черноморский муниципальный район,32.521475,45.375106,0.0,0.0,село,оленівка
159993,село калинівка,NaN,Республика Крым,Черноморский муниципальный район,32.679740,45.487682,687.0,0.0,село,калинівка
159994,село новосільське,NaN,Республика Крым,Черноморский муниципальный район,32.725935,45.507995,2218.0,0.0,село,новосільське
159995,село артемівка,NaN,Республика Крым,Черноморский муниципальный район,32.823119,45.468628,212.0,0.0,село,артемівка
159997,село красносільське,NaN,Республика Крым,Черноморский муниципальный район,32.678711,45.413508,505.0,0.0,село,красносільське
159998,село мар'їне,NaN,Республика Крым,Черноморский муниципальный район,32.708952,45.346726,89.0,0.0,село,мар'їне
159999,село окунівка,NaN,Республика Крым,Черноморский муниципальный район,32.764373,45.369236,581.0,0.0,село,окунівка
160003,місто євпаторія,NaN,Республика Крым,городской округ Евпатория,33.366900,45.207377,107650.0,0.0,місто,євпаторія
160008,селище озерівка,NaN,Республика Крым,Черноморский муниципальный район,32.979914,45.363023,8.0,0.0,селище,озерівка
160011,село новоіванівка,NaN,Республика Крым,Черноморский муниципальный район,33.099766,45.448662,1004.0,0.0,село,новоіванівка
160017,село кіровське,Tarkhankut; село Тарханкут; Village of Tarkhankut,Республика Крым,Черноморский муниципальный район,33.085874,45.545019,2201.0,0.0,село,кіровське
160019,селище низівка,NaN,Республика Крым,Черноморский муниципальный район,33.041758,45.559770,78.0,0.0,селище,низівка
160023,село журавлівка,NaN,Республика Крым,Черноморский муниципальный район,33.071274,45.637760,145.0,0.0,село,журавлівка
160025,село володимирівка,NaN,Республика Крым,Черноморский муниципальный район,33.024738,45.652262,326.0,0.0,село,володимирівка
160026,село сєверне,NaN,Республика Крым,Черноморский муниципальный район,33.053918,45.687845,266.0,0.0,село,сєверне
160034,село міжводне,NaN,Республика Крым,Черноморский муниципальный район,32.840649,45.574375,1602.0,0.0,село,міжводне
160035,село водопійне,NaN,Республика Крым,Черноморский муниципальный район,32.941934,45.591290,501.0,0.0,село,водопійне
160043,село сніжне,NaN,Республика Крым,Черноморский муниципальный район,32.831578,45.527858,61.0,0.0,село,сніжне
160050,село рилєєвка,NaN,Республика Крым,Раздольненский муниципальный район,33.250645,45.641794,137.0,0.0,село,рилєєвка
160061,село вогні,NaN,Республика Крым,Раздольненский муниципальный район,33.388482,45.767596,536.0,0.0,село,вогні
160062,село кукушкіне,NaN,Республика Крым,Раздольненский муниципальный район,33.387403,45.719021,977.0,0.0,село,кукушкіне
160102,село кропоткіне,NaN,Республика Крым,Раздольненский муниципальный район,33.478379,45.802314,951.0,0.0,село,кропоткіне
160105,селище міського типу роздольне,NaN,Республика Крым,Раздольненский муниципальный район,33.491025,45.769866,7165.0,0.0,селище,міського типу роздольне
160107,село ботанічне,NaN,Республика Крым,Раздольненский муниципальный район,33.547820,45.784878,1761.0,0.0,село,ботанічне
160113,село сінокісне,NaN,Республика Крым,Раздольненский муниципальный район,33.517339,45.733404,1092.0,0.0,село,сінокісне
160114,село волочаївка,NaN,Республика Крым,Раздольненский муниципальный район,33.471659,45.692354,361.0,0.0,село,волочаївка
160117,село вітрянка,NaN,Республика Крым,Раздольненский муниципальный район,33.573853,45.660141,247.0,0.0,село,вітрянка
160126,село орлівка,NaN,Республика Крым,Раздольненский муниципальный район,33.373522,45.669586,995.0,0.0,село,орлівка
160127,село каштанівка,NaN,Республика Крым,Раздольненский муниципальный район,33.357600,45.616568,88.0,0.0,село,каштанівка
160130,село бахчівка,NaN,Республика Крым,Раздольненский муниципальный район,33.419551,45.612890,176.0,0.0,село,бахчівка
160135,село березівка,NaN,Республика Крым,Раздольненский муниципальный район,33.343976,45.575385,1584.0,0.0,село,березівка
160142,село попівка,NaN,Республика Крым,Сакский муниципальный район,33.036176,45.297954,292.0,0.0,село,попівка
160144,селище міського типу мирний,NaN,Республика Крым,городской округ Евпатория,33.047677,45.328155,4209.0,0.0,селище,міського типу мирний
160166,село привітне,NaN,Республика Крым,Сакский муниципальный район,33.140755,45.304265,466.0,0.0,село,привітне

In [156]:
ukr_district = ukr_row['district'].unique()

In [157]:
ukr_pop_ll = ukr_row[['population', 'lon', 'lat']].copy()

In [158]:
ukr_pop_ll[['lon', 'lat']] = ukr_pop_ll[['lon', 'lat']].round(1)
ukr_pop_ll.head()

        population   lon   lat
159990     11356.0  32.7  45.5
159991         0.0  32.5  45.4
159993       687.0  32.7  45.5
159994      2218.0  32.7  45.5
159995       212.0  32.8  45.5

In [159]:
# Контроль, какие записи будут удалены
cnt = 0
for crc in ukr_pop_ll.values:
    df_dup = df2[
    (df2['region_name'] == 'Республика Крым') & \
    (df2['district'].isin(ukr_district)) & \
    (df2['population'] == crc[0]) & \
    (df2['lon'].round(1) == crc[1]) & \
    (df2['lat'].round(1) == crc[2])
    ]
    print(len(df_dup), end=' ')
    if len(df_dup) == 2:
        cnt += 1
print(cnt)

2 1 2 2 2 2 2 2 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 33

In [160]:
prb_idx = []
for crc in ukr_pop_ll.values:
    df_dup = df2[
    (df2['region_name'] == 'Республика Крым') & \
    (df2['district'].isin(ukr_district)) & \
    (df2['population'] == crc[0]) & \
    (df2['lon'].round(1) == crc[1]) & \
    (df2['lat'].round(1) == crc[2])
    ]
    
    if len(df_dup) > 1:
        df2.drop(df_dup[df_dup['name'].str.contains('[іїєґ]', case=False , na=False)].index, inplace=True)

    else:
        prb_idx.append(df_dup[df_dup['name'].str.contains('[іїєґ]', case=False , na=False)].index)

df2.reset_index(drop=True)

,name,other_name,region_name,district,lon,lat,population,approx,type,only_name
0,город михайловка,NaN,Волгоградская область,городской округ Город Михайловка,43.239730,50.070850,58407.0,0.0,город,михайловка
1,поселок сибирский,NaN,Алтайский край,городской округ Посёлок Сибирский,83.839377,53.557357,11807.0,0.0,поселок,сибирский
2,хутор никольский,NaN,Белгородская область,Ракитянский муниципальный район,35.902320,51.005698,20.0,0.0,хутор,никольский
3,село драгунка,NaN,Белгородская область,Ивнянский муниципальный район,35.951177,51.022732,409.0,0.0,село,драгунка
4,село нижние пены,NaN,Белгородская область,Ракитянский муниципальный район,35.950410,51.005147,1000.0,0.0,село,нижние пены
...,...,...,...,...,...,...,...,...,...,...
160144,деревня макарово,"деревня Макарово, Ермаковский сельский округ",Ярославская область,Даниловский муниципальный район,39.817327,58.328284,0.0,0.0,деревня,макарово
160145,деревня малое сартово,NaN,Ярославская область,Даниловский муниципальный район,39.686197,58.201643,0.0,0.0,деревня,малое сартово
160146,деревня рыбино,NaN,Ярославская область,Даниловский муниципальный район,39.720264,58.374330,0.0,0.0,деревня,рыбино
160147,деревня тайбузино,NaN,Ярославская область,Даниловский муниципальный район,40.540343,57.956009,0.0,0.0,деревня,тайбузино
160148,деревня яскино,"деревня Яскино, Никольский сельский округ",Ярославская область,Даниловский муниципальный район,40.537059,57.970415,0.0,0.0,деревня,яскино

Исправим последний населенный пункт вручную

In [161]:
len(df1)

160183

In [162]:
len(df1) - len(df2)

34

In [163]:
prb_idx

[Index([159991], dtype='int64'), Index([], dtype='int64')]

In [164]:
df1[df1['name'].str.contains('село олен')].iloc[-2:]

,name,other_name,region_name,district,lon,lat,population,approx,type,only_name
156236,село оленевка,село Кара-Аджи; село Кара-Аджі,Республика Крым,Черноморский муниципальный район,32.531897,45.377503,1441.0,0.0,село,оленевка
159991,село оленівка,NaN,Республика Крым,Черноморский муниципальный район,32.521475,45.375106,0.0,0.0,село,оленівка

Видно, что по смыслу эти населенные пункты одинаковые, вероятно, допущена ошибка в population
Следовательно, удалим скрытый дубликат запись 159991

In [165]:
df2.drop(index=159991, inplace=True)

Скрытые дубликаты удалены

Вернем верхний регистр у первого слова в столбце only_name

In [166]:
df2['only_name'] = df2['only_name'].str.capitalize()

In [167]:
# Общее число удаленный скрытых дубликатов
len(df1) - len(df2)

35

### Задания 4-11

#### Задание 4
Получите список уникальных типов населенных пунктов, определите число уникальных типов населенных пунктов. Определите долю каждого типа населенного пункта. Для трех любых неизвестных для вас ранее типов населенных пунктов определите региональную принадлежность.

In [168]:
# Список уникальных типов населенных пунктов
df2[df2['type'] != 'нет']['type'].unique()

array(['город', 'поселок', 'хутор', 'село', 'поселок городского типа',
       'поселок при станции', 'деревня', 'поселок станции', 'проселок',
       'железнодорожная станция', 'населенный пункт',
       'железнодорожный разъезд', 'разъезд', 'станция', 'рабочий поселок',
       'местечко', 'починок', 'кордон', 'железнодорожная будка',
       'слобода', 'железнодорожная площадка', 'остановочный пункт',
       'сельский поселок', 'погост', 'участок',
       'поселок при железнодорожной станции', 'слободка',
       'дачный поселок', 'заимка', 'железнодорожный блокпост', 'казарма',
       'курортный поселок', 'выселок', 'высел', 'железнодорожная казарма',
       'остановочная платформа', 'обгонная платформа',
       'поселок сельского типа', 'аул', 'железнодорожная платформа',
       'улус', 'аал', 'блок-пост', 'городской поселок', 'обгонный пункт',
       'железнодорожный путевой пост',
       'железнодорожный остановочный пункт', 'арбан', 'станица', 'кутан',
       'отделение', 'мыс', 'остров', 'молочнотоварная ферма совхоза',
       'экопоселение', 'выселки', 'поселение', 'полустанок', 'колхоз',
       'городок', 'переезд', 'седо', 'территория'], dtype=object)

In [169]:
# Число уникальных типов населенных пунктов
df2[df2['type'] != 'нет']['type'].nunique()

63

In [170]:
# Доля каждого типа населенного пункта
df2[df2['type'] != 'нет']['type'].value_counts(normalize=True).to_frame().style.format('{:.5%}')

Вывод: Больше всего преобладают такие типы, как деревня, село, поселок что логично - этих типов много и все они разнообразны. Города же более большие объекты. Остальные названия либо редкие, либо используеются в определенных местах.

In [171]:
# Региональная принадлежность для любых трех, неизветынх ранее типов населенных пунктов
df2[df2['type'].isin(['аал', 'аул', 'арбан'])].groupby(['type', 'region_name']).count()['name'].to_frame()

                                       name
type  region_name
аал   Республика Хакасия                 46
арбан Республика Тыва                    12
аул   Карачаево-Черкесская Республика    55
      Краснодарский край                 14
      Новосибирская область              12
      Омская область                     38
      Оренбургская область                3
      Республика Адыгея (Адыгея)         42
      Республика Ингушетия                2
      Самарская область                   2
      Ставропольский край                26
      Тюменская область                  12

#### Задание 5
Посчитайте сумму населения по типам населенных пунктов в абсолютных и относительных значениях.

In [172]:
type_pop_abs = df2.groupby('type')['population'].sum()
total_pop = df2['population'].sum()
type_pop_per = (df2.groupby('type')['population'].sum() / total_pop * 100).round(5)
df5 = pd.DataFrame({'population': type_pop_abs , 'percent': type_pop_per}).sort_values('population', ascending=False)
df5

                                population   percent
type
город                          102678139.0  67.80209
село                            21768502.0  14.37453
поселок                          8478293.0   5.59852
деревня                          6557748.0   4.33032
поселок городского типа          4923998.0   3.25149
...                                    ...       ...
мыс                                    0.0   0.00000
молочнотоварная ферма совхоза          0.0   0.00000
полустанок                             0.0   0.00000
седо                                   0.0   0.00000
территория                             0.0   0.00000

[64 rows x 2 columns]

#### Задание 6
Определите топ-10 самых популярных названий населенных пунктов. Определите число уникальных названий населенных пунктов.

In [174]:
# Топ 10 самых популярных названий населенных пунктов
df2['only_name'].value_counts().head(10).to_frame()

               count
only_name
Александровка    331
Ивановка         280
Михайловка       267
Каменка          252
Никольское       240
Николаевка       238
Березовка        233
Сосновка         216
Первомайский     202
Заречье          198

In [175]:
# Число уникальных названий населенных пунктов
df2['only_name'].nunique()

82842

#### Задание 7
Определите населенные пункты с самыми короткими названиями. Получите список населенных пунктов с длиной в два символа, найдите наиболее популярные названия из найденного списка. Определите региональную принадлежность. Повторите исследование для населенных пунктов с тремя символами.

In [212]:
# Населенные пункты с самимы короткими именами (пробелы не считаем)
df7 = df2.copy()
df7['len'] = df7['only_name'].str.replace(' ', '').apply(lambda x: len(x))
df7[['only_name', 'len']].sort_values('len')

                                                only_name  len
108703                                                 Ий    2
108301                                                 Яр    2
84551                                                  Юм    2
33548                                                  Ям    2
130439                                                 Ыб    2
...                                                   ...  ...
101243  1-е отделение государственной селекционной ста...   46
155798  Всесоюзного электротехнического института имен...   50
55644   Опытного хозяйства центральной торфо-болотной ...   56
111286  Учебного хозяйства нальчикского сельскохозяйст...   59
149923  Северо-кавказская зональная опытная станция вс...  103

[160148 rows x 2 columns]

Анализ населенных пунктов в два символа

In [217]:
# Населенные пункты длинной в два символа, наиболее популярные из них
df7[df7['len'] == 2]['only_name'].value_counts().head(11)

only_name
Ям     11
Яр     11
Ик      4
№1      3
Ыб      3
Ук      2
18      2
№ 2     2
Уя      2
Ай      2
21      2
Name: count, dtype: int64

In [214]:
# Их региональная принадлежность
df7[df7['len'] == 2][['region_name', 'only_name']] \
# .groupby(['region_name', 'only_name']).count()

                                region_name only_name
7238                      Калужская область        Ям
23228                     Рязанская область        Ур
33548                      Тверская область        Ям
37987                      Тверская область        Ям
41404                  Владимирская область        Ям
...                                     ...       ...
149439                   Краснодарский край        Ея
157093  Республика Северная Осетия — Алания        Ир
158112                  Ярославская область        №1
159578                 Республика Ингушетия        Гу
160085                 Новгородская область        Ям

[69 rows x 2 columns]

Анализ населенных пунктов в три символа

In [216]:
# Населенные пункты длинной в три символа, наиболее популярные из них
df7[df7['len'] == 3]['only_name'].value_counts()

only_name
Бор    102
Дор     55
Мыс     29
Луч     16
Лом     13
      ...
Туд      1
Лой      1
Зея      1
Аур      1
Лух      1
Name: count, Length: 337, dtype: int64

In [220]:
# Их региональная принадлежность
df7[df7['len'] == 3][['region_name', 'only_name']] \
# .groupby(['region_name', 'only_name']).count()

                  region_name only_name
2460         Брянская область       Май
2750         Брянская область       Ужа
3371         Брянская область       Ким
3515         Брянская область       Май
3524         Брянская область       Чет
...                       ...       ...
159257  Волгоградская область       299
159381  Архангельская область       Бор
159476   Чеченская Республика       Хой
159505   Свердловская область       Лая
159747   Республика Ингушетия       Ний

[732 rows x 2 columns]

#### Задание 8
Найдите населенный пункт с самым длинным названием из одного слова без пробелов и дефисов.

In [367]:
df8 = df2[~df2['only_name'].str.contains('[\s-]')].copy()
df8['len'] = df8['only_name'].apply(lambda x: len(x))
df8[['only_name', 'len']].sort_values('len', ascending=False).head(1)

                     only_name  len
82070  Верхненовокутлумбетьево   23

#### Задание 9
Определите число населенных пунктов на букву "Ы". На какую букву чаще всего начинаются названия населенных пунктов?

In [261]:
# Число населенных пунктов на 'Ы'
len(df2[df2['only_name'].str[0] == 'Ы'])

22

In [264]:
# Буква, на котоую чаще всего начинаются названия
df2['only_name'].str[0].value_counts().head(1)

only_name
К    19542
Name: count, dtype: int64

#### Задание 10
Определите сколько раз встречаются в названиях населенных пунктов прилагательные: большой, малый, красный, новый.

In [176]:
big_cnt = len(df2[df2['only_name'].str.contains('большой', case=False)])
small_cnt = len(df2[df2['only_name'].str.contains('малый', case=False)])
red_cnt = len(df2[df2['only_name'].str.contains('красный', case=False)])
new_cnt = len(df2[df2['only_name'].str.contains('новый', case=False)])
print(f'Большой: {big_cnt}', f'Малый: {small_cnt}', f'Красный: {red_cnt}', f'Новый: {new_cnt}')

Большой: 379 Малый: 316 Красный: 681 Новый: 592

#### Задание 11
Найдите несколько примеров необычных названий населенных пунктов, связанных с одной из тематик (одной или нескольких, можно в разных). Допустимо предложить свою тематику

In [173]:
#bm2

Тема            | Пример необычного названия населенного пункта
Животные        | Старый Бык
Здания          | Амбарчик
Эмоции          | Нескучай
Еда             | Огурцы
Особенные места | Старая Канава
Жители          | Горбуны

In [177]:
theme_words = {
    "Животные": [
        "Волк", "Медведь", "Собака", "Кот", "Лиса", "Олень", "Заяц", "Лось", 
        "Орёл", "Соловей", "Ласточка", "Журавль", "Сокол", "Ястреб", "Куница", 
        "Бобр", "Выдра", "Ёж", "Белка", "Хомяк", "Корова", "Овца", "Коза", 
        "Кабан", "Барсук", "Соболь", "Карась", "Щука", "Судак", "Рысь", 
        "Ондатра", "Цапля", "Косуля", "Петух", "Жеребец", "Бык", "Гусь", 
        "Утка", "Пчела", "Муравей", "Паук", "Ворон", "Голубь", "Стрекоза", 
        "Жаба", "Уж", "Гадюка"],
    "Здания": [
        "Дом", "Церковь", "Кремль", "Храм", "Дворец", "Замок", "Монастырь", 
        "Крепость", "Башня", "Амбар", "Мельница", "Колокольня", "Усадьба", 
        "Слобода", "Погост", "Село", "Деревня", "Хутор", "Школа", "Станица", 
        "Заимка", "Гостиница", "Сарай", "Клуб", "Терем", "Колизей", "Барак", 
        "Изба", "Маяк", "Хлев", "Конюшня"],
    "Эмоции": [
        "Радость", "Грусть", "Счастье", "Любовь", "Страх", "Гнев", "Удивление", 
        "Спокойствие", "Нежность", "Печаль", "Уныние", "Смущение", "Тревога", 
        "Восторг", "Тоска", "Зависть", "Гордость", "Стыд", "Сожаление", "Надежда", 
        "Отчаяние", "Интерес", "Благодарность", "Одиночество", "Меланхолия", 
        "Обида", "Раздражение", "Удовлетворение"],
    "Еда": [
        "Хлеб", "Молоко", "Мясо", "Рыба", "Сахар", "Соль", "Фрукты", "Овощи", 
        "Яблоко", "Груша", "Картофель", "Капуста", "Морковь", "Лук", "Огурец", 
        "Помидор", "Клюква", "Рябина", "Малина", "Клубника", "Грибы", "Мед", 
        "Орех", "Кофе", "Чай", "Сыр", "Масло", "Каша", "Лапша", "Пирог", 
        "Квас", "Колбаса", "Пельмени", "Варенье"],
    "Особенные_места": [
        "Гора", "Река", "Озеро", "Море", "Поле", "Лес", "Болото", "Остров", 
        "Долина", "Яр", "Овраг", "Бор", "Роща", "Степь", "Холм", "Берег", 
        "Исток", "Омут", "Ключ", "Перевал", "Опушка", "Луг", "Пруд", "Залив", 
        "Протока", "Коса", "Вершина", "Утёс", "Водопад", "Канал", "Ручей", 
        "Пустыня", "Тайга", "Тундра", "Брод"],
    "Жители": [
        "Человек", "Народ", "Житель", "Население", "Люди", "Гражданин", 
        "Крестьянин", "Колхозник", "Рабочий", "Охотник", "Рыбак", "Пастух", 
        "Кочевник", "Абориген", "Поселенец", "Горожанин", "Селянин", 
        "Беженец", "Купец", "Дворянин", "Воин", "Старовер", "Монах", 
        "Разбойник", "Боярин", "Кузнец", "Плотник", "Земледелец", "Рыцарь"]
}

In [182]:
only_name_by_theme = {}
for theme in theme_words.keys():
    pattern = r'\b((' + '|'.join(theme_words[theme]) + r')\w*?)\b'
    only_name_by_theme[theme] = df2[df2['only_name'].str.contains(pattern, regex=True)]['only_name'].unique()

C:\Users\myras\AppData\Local\Temp\ipykernel_20956\3253533353.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  only_name_by_theme[theme] = df2[df2['only_name'].str.contains(pattern, regex=True)]['only_name'].unique()

In [183]:
only_name_by_theme

{'Животные': array(['Бобрава', 'Боброво', 'Соколовка', 'Котеневка', 'Котово',
        'Быковка', 'Барсук', 'Котов', 'Котляров', 'Волков', 'Вороновка',
        'Волково', 'Бобровы дворы', 'Воронинка', 'Кабановка', 'Медведьки',
        'Котляково', 'Бобровник', 'Котовка', 'Соколово', 'Бобровка',
        'Воронова гута', 'Воронок', 'Бобрик', 'Ужа', 'Воронов лог',
        'Соколовский', 'Барсуки', 'Быковичи', 'Волкова', 'Волкустичи',
        'Быково', 'Соколий бор', 'Вороново', 'Бобров', 'Бобровня',
        'Петуховка', 'Хомяковка', 'Бобрец', 'Ястребец', 'Котелки',
        'Соколья слобода', 'Воронино', 'Воронцово', 'Кабаново',
        'Котельницы', 'Боброково', 'Ворончиха', 'Котюрево', 'Котцыно',
        'Котиха', 'Воронково', 'Собольцево', 'Ворониха', 'Петухово',
        'Котельцы', 'Сокольское', 'Соколово большое', 'Бобры',
        'Соколово малое', 'Волкопялово', 'Воронята', 'Утка', 'Короваево',
        'Котрохово', 'Воронеж', 'Судаково', 'Хомяково', 'Ястребовка',
        'Волковское', 'Воронцовка', 'Караськово', 'Сокольники-вторые',
        'Сокольники-первые', 'Бобровники', 'Бобровский', 'Волковынка',
        'Волконское', 'Котовичи', 'Вороненка', 'Воронеты', 'Которь',
        'Которец', 'Воронки', 'Ужать', 'Бобровицы', 'Ястребово', 'Бобриха',
        'Сокольниково', 'Которово', 'Коточигово', 'Соколиха', 'Заяцкое',
        'Котомино', 'Петухи 1-е', 'Петухи 2-е', 'Хомяковщина', 'Ужуга',
        'Петухи', 'Котельный мыс', 'Быки', 'Котляш', 'Соколовское',
        'Воронье', 'Коровайково', 'Котельниково', 'Ястребино', 'Котельное',
        'Котлово', 'Коткишево', 'Бобрышево', 'Быканово', 'Котлево',
        'Соколье', 'Ястребин колодезь', 'Воронежское маланино',
        'Барсуково', 'Воронец', 'Ворон-лозовка', 'Муравейник', 'Ужаринка',
        'Бобраки', 'Соколов', 'Волконск', 'Хомякова', 'Бобрики', 'Сокол',
        'Коты', 'Соколаевка', 'Котлы', 'Ястребинка', 'Гусь-железный',
        'Воронка', 'Ужалье', 'Волконка', 'Ястребки', 'Волковое',
        'Бобровинки', 'Быковская степь', 'Воронежские верхи', 'Которовка',
        'Волков хутор', 'Котелино', 'Ужово', 'Соколино', 'Котиково',
        'Ястреб 2-й', 'Ястреб 1-й', 'Волки', 'Котовщина', 'Ястребы',
        'Лосьмино', 'Бобрище', 'Воронцы', 'Соколья гора', 'Сокольники',
        'Бобровичи', 'Петуховщина', 'Волковка', 'Котлино', 'Котыревка',
        'Соколянка', 'Волконщина', 'Волковичи', 'Бобрывец', 'Выдранка',
        'Котовск', 'Сокольниковского лесничества', 'Воронцовские отруба',
        'Котовское', 'Котенево', 'Бобровские выселки', 'Оленьковский',
        'Сокольники 2', 'Сокольники 1', 'Олень', 'Воронское', 'Оленьково',
        'Вороны', 'Лосьмянка', 'Котлованово', 'Котлован', 'Бобровец',
        'Белка', 'Котчище', 'Бобровцы', 'Бобров городок', 'Волковская',
        'Вороньково', 'Волково-тулупьево', 'Соколихино', 'Бобронниково',
        'Вороничено', 'Быково-репинка', 'Быковищи', 'Воронья нога',
        'Котляево', 'Ястребиха', 'Соколово-кошкарево', 'Волкушино',
        'Волковойна', 'Лисавино', 'Гусь-парахино', 'Быкасово', 'Лисавы',
        'Котлучино', 'Волковойно', 'Бык', 'Олень-колодезь', 'Волкодав',
        'Коза', 'Соколиный', 'Соколы', 'Коткино', 'Быкуши', 'Коточижовки',
        'Муравейка', 'Воронкино', 'Лось', 'Рысье', 'Кабанское',
        'Бобровский 1-й', 'Волково-егорье', 'Хомяки', 'Гусь-хрустальный',
        'Коровайцево', 'Воронинская', 'Соколья грива', 'Волкуша',
        'Бобровниково', 'Соколовский починок', 'Собольки', 'Котерево',
        'Соколово-хомьяново', 'Соколова пустынь', 'Котельники', 'Воронжа',
        'Кото', 'Ласточка', 'Соловей-ключ', 'Сокольчи', 'Быков', 'Котенко',
        'Быковский', 'Воронежское-1', 'Воронежское-2', 'Воронежское-3',
        'Соколки', 'Ужара', 'Муравей', 'Уткалево', 'Бобровы', 'Петуховы',
        'Ворона', 'Соколовы', 'Котчиха', 'Котельниковы', 'Ужоговица',
        'Быковы', 'Ужоговка', 'Воронушка', 'Волковщина', 'Котюргины',
        'Воронковы', 'Котики', 'Ворончихи', 'Вороничи', 'Быковская',
        'Ворончихино', 'Быкотепово', 'Кабановщина', 'Котельнич',
        'Котеновский', 'Котеново', 'Сокольный', 'Котяминер', 'Голубьевка',
        'Соколов гарт', 'Котрокс', 'Ужовка', 'Соловейка', 'Воронцовское',
        'Судаки', 'Котоминское', 'Ястребцово', 'Соколищи', 'Быковы горы',
        'Быков майдан', 'Кабанкино', 'Судаковка', 'Котансу', 'Судакаевка',
        'Котел', 'Соколинка', 'Соколка', 'Петухова', 'Соколова', 'Белканы',
        'Кабанов мыс', 'Карасье', 'Козаки', 'Ужгинская', 'Котомыш',
        'Воронцовский', 'Воронов мост', 'Котоврас', 'Бобровый гай',
        'Бобринка', 'Сокольский', 'Котловка', 'Кабан-бастрык',
        'Сокольского лесничества', 'Котомка', 'Коровай', 'Котнырево',
        'Котегово', 'Котегурт', 'Котешур', 'Котья', 'Оленье болото',
        'Ужуиха', 'Котяково', 'Котяковка', 'Вороний куст', 'Быков отрог',
        'Кабаниха', 'Соколовый', 'Петухов лог', 'Воронежская-молодежная',
        'Котляровка', 'Ужлеп', 'Кабанск', 'Котокель (баня)', 'Быкова',
        'Котик', 'Котова', 'Воронежский', 'Котино', 'Котовский', 'Ужур',
        'Оленья речка', 'Кабанка', 'Бобровичинск', 'Ужаниха', 'Волковский',
        'Бобровицкий', 'Ястреб', 'Барсуковка', 'Кабанье', 'Бобровица',
        'Котовщиково', 'Волкодаевка', 'Лось-гора (шоры-еры)',
        'Воронино-пашня', 'Воронино-яя', 'Котый', 'Барсуковская',
        'Воронежское', 'Петуховский', 'Барсуковский', 'Быкогорка',
        'Воронов', 'Котляревская', 'Котовская', 'Рысья', 'Соколья горка',
        'Соколово-большое', 'Котлас', 'Соколова гора', 'Вороновская',
        'Ужмино', 'Бобровская', 'Петуховская', 'Вороновское', 'Котчура',
        'Коткозеро', 'Котозеро', 'Оленья губа', 'Воронья гора', 'Медведь',
        'Бобровик', 'Волковицы', 'Ужин', 'Котчино', 'Выдра', 'Котецко',
        'Котяты', 'Гуськи', 'Ястребовщина', 'Котицы', 'Ужани',
        'Боброедово', 'Быковщина', 'Котельно', 'Котельницкая мельница',
        'Котеницы', 'Котоши', 'Которск', 'Котятино', 'Ястребье',
        'Котелево', 'Бобренки', 'Котово-заречье', 'Котья гора', 'Воронич',
        'Козаны', 'Воронкова нива', 'Кабаны', 'Котоново', 'Котяги',
        'Собольцово', 'Соколково', 'Котьянково', 'Козаново', 'Ужакино',
        'Бобриково (пырялово)', 'Бобриково', 'Ужбурысь', 'Утка-видзь',
        'Ужга', 'Бобровское', 'Котлакса', 'Ворон', 'Щукарево',
        'Котельново', 'Ужла', 'Соколовская', 'Ястреблево',
        'Ворониха (погост)', 'Сокольная', 'Котовицы', 'Ужесельга',
        'Соколинское', 'Боброзеро', 'Волкино', 'Вороний остров',
        'Вороньи горки', 'Заяцкая', 'Заяцково', 'Козарево', 'Муравейно',
        'Котельский', 'Котлик', 'Ужевка', 'Барсукова', 'Воронова',
        'Петуховское', 'Петухово (петушки)', 'Воронская',
        'Бобровка (петрушата)', 'Лисава', 'Котюрова', 'Соколята',
        'Уткарма', 'Коточиги', 'Воронина', 'Воронцовская', 'Ястребовский',
        'Пчела', 'Соколихин', 'Ястребиновский', 'Петухов', 'Котломин',
        'Котельников', 'Бобровский 2-й', 'Котлубань', 'Оленье', 'Котухово',
        'Ястребцы', 'Соколиное', 'Судак', 'Кабановская гора', 'Ястребок',
        'Воронуха', 'Воронежская', 'Хомяковская', 'Ужищево', 'Кабановская',
        'Соколи'], dtype=object),
 'Здания': array(['Домановка', 'Хуторище', 'Хлевище', 'Домнино', 'Хуторцы',
        'Слобода', 'Теремошка', 'Слобода-селецкая', 'Дом отдыха',
        'Доманичи', 'Хутор-бор', 'Домашово', 'Доманово', 'Доманцево',
        'Домовицы', 'Погост', 'Погост дмитрия солунского', 'Домотканово',
        'Деревня-иван', 'Заимка', 'Дома радиотранссети', 'Доможирово',
        'Хутор поповичи', 'Усадьба', 'Хутор ратный',
        'Домашовского щебзавода', 'Маяк', 'Домашовка', 'Домачево',
        'Погост барский', 'Погост-монастырский', 'Усадьба-ратьково',
        'Школа юксинская', 'Село', 'Дом инвалидов', 'Храмки', 'Домниково',
        'Домницы', 'Хутор редькино', 'Домра', 'Домовины',
        'Слобода-заречье', 'Хутор-березовка', 'Домачи', 'Хлевное', 'Хутор',
        'Маяки', 'Кремль', 'Усадьба больницы имени сакко и ванцетти',
        'Домаха', 'Хутор степь', 'Хутор яичкина', 'Хутор одинок',
        'Хутор средний', 'Хутор ильинский', 'Домны', 'Хутор-лимовое',
        'Хутор охотники', 'Бараково', 'Мельница', 'Хуторовка', 'Домашенка',
        'Колокольня', 'Дом отдыха александрино', 'Школа имени горького',
        'Хутор архангельский', 'Хутор покровский', 'Доможировка',
        'Домнинские дворы', 'Хутор-озерки', 'Дома рыбхоза', 'Теремец',
        'Домашнево', 'Слобода переселенцев', 'Дом отдыха велегож',
        'Клубово', 'Погостищи', 'Клубаково', 'Село-новинок', 'Домославль',
        'Хутора дубские', 'Домантово', 'Доманиха', 'Гостиница', 'Домажино',
        'Погост вышнево', 'Домашино', 'Погост-быково', 'Погост вознесенье',
        'Бараки', 'Селома', 'Погост-пречистое', 'Погост-пятницкий',
        'Хуторы', 'Домашниха', 'Доморацкое', 'Храмцово', 'Хлевищено',
        'Погостище', 'Хлевино', 'Дома отдыха красный стан',
        'Дома отдыха верея', 'Хутора гуляевы', 'Дома отдыха лужки',
        'Дома отдыха высокое', 'Домославка', 'Хуторки',
        'Дома отдыха румянцево', 'Дома отдыха вороново',
        'Дома отдыха плесково', 'Дома отдыха тучково вцспс', 'Клубня',
        'Домнинки', 'Дома отдыха авангард', 'Дома отдыха лопасня',
        'Дома отдыха пахра', 'Домодедово', 'Дома отдыха караллово',
        'Дома отдыха владимира ильича', 'Дома отдыха отличник',
        'Дома отдыха горки', 'Дома отдыха бекасово', 'Домикан',
        'Бараки кетачан', 'Домостроительный завод', 'Дом отдыха шарголь',
        'Маяк песчаный', 'Бараки чохчо', 'Бараки сурьмина',
        'Бараки ясная поляна', 'Маяк чихачев', 'Маяк-балюзек',
        'Маяк низменный', 'Заимка петрова', 'Амбарчик', 'Маяк поворотный',
        'Маяк уаркэ', 'Домбровка',
        'Сарайгировское отделения уртакульского совхоза', 'Сарайлы',
        'Сарайсино', 'Домрачевка', 'Хутор шинеры', 'Избахтино',
        'Клубовщина', 'Храмцы', 'Дворец', 'Домраченки', 'Монастырь',
        'Храмушины', 'Храмые', 'Домочаевская', 'Клубеничное поле',
        'Школа тракторных бригадиров', 'Домашняя', 'Домики', 'Амбариха',
        'Сарайки', 'Маякское', 'Дом отдыха сакмара', 'Сарай-гир',
        'Хуторка', 'Домбаровский', 'Домбаровка', 'Замокшинский', 'Хутор-3',
        'Бараки молмыс', 'Усадьба ртс', 'Дом отдыха сокол', 'Усадьба мтс',
        'Дом отдыха красный яр', 'Крепость-кондурча', 'Домашка',
        'Домашкины вершины', 'Клубково', 'Крепость узень',
        'Слобода петропавловская', 'Село-чура', 'Сарай-чекурча',
        'Слобода волчья', 'Слобода черемуховая', 'Слобода екатерининская',
        'Слобода архангельская', 'Сарайкино', 'Дома 1113 километр',
        'Дома 1116 километр', 'Дома 1109 километр', 'Дома 1120 километр',
        'Дома 1147 километр', 'Дома 1173 километр', 'Дома 1177 километр',
        'Дома 1181 километр', 'Дома 1182 километр', 'Дома 1186 километр',
        'Дома 1168 километр', 'Дома 1184 километр', 'Дома 1208 километр',
        'Дома 1214 километр', 'Дома 1205 километр', 'Дома 1211 километр',
        'Дома 1199 километр', 'Дома 1197 километр', 'Дома 1242 км',
        'Дома пионерского лагеря', 'Дома 45 километр', 'Дома 58 километр',
        'Дома 62 километр', 'Дома 78 километр', 'Дома 1038 километр',
        'Дома 1060 километр', 'Дома 1066 километр', 'Дома 1068 километр',
        'Дома 1084 километр', 'Дома 1077 километр', 'Дома 1074 километр',
        'Дома 1072 километр', 'Дома 1079 километр', 'Дома 1096 километр',
        'Дома 8 километр', 'Дома 1152 километр', 'Дома 1133 километр',
        'Дома 1155 километр', 'Дома 1130 километр', 'Дома 1124 километр',
        'Дома 1129 километр', 'Дом отдыха чепца', 'Дома 993 километр',
        'Дома 1035 километр', 'Дома 1153 километр', 'Дома 1125 километр',
        'Дома 1164 километр', 'Слобода-выходцево', 'Домна (соболка)',
        'Доможаков', 'Баракшин', 'Станица 3-я', 'Маяковка',
        'Дома отдыха лама', 'Амбар', 'Бараки суворовские',
        'Бараки альчетские', 'Хутор №20', 'Клубничный', 'Клубничная',
        'Хутор №13', 'Хутора', 'Домбай', 'Хуторское', 'Дом отдыха чалбучи',
        'Домасово', 'Домно-ключи', 'Домна', 'Домановская', 'Клубоковская',
        'Клубоковская выставка', 'Дом отдыха озерки', 'Дом у пилорамы',
        'Клубочиха', 'Бараковская', 'Погост наволочный', 'Маяковское',
        'Домново', 'Амбарный', 'Маяк городецкий', 'Маяк никодимский',
        'Маяк выевнаволок', 'Маяк тювагубский', 'Село-гора', 'Домовичи',
        'Слобода (агафоново)', 'Погост сабле', 'Доманино',
        'Усадьба жадины', 'Теремово', 'Домаши', 'Доминиково', 'Доможирка',
        'Домкино', 'Маяково', 'Домахино', 'Доманьково', 'Бараки юркаель',
        'Изба клима', 'Бараки кыртаель', 'Погост трифон', 'Погостец',
        'Погост рождество', 'Погост лука', 'Хуторок', 'Домшино',
        'Погост оночесть', 'Погост дмитриевский', 'Маяк-горка',
        'Домашковицы', 'Монастырьки', 'Селово', 'Дом отдыха боровое',
        'Дом отдыха луга', 'Дом отдыха живой ручей', 'Погостье',
        'Дом отдыха волковицы', 'Дом отдыха ленстроитель', 'Клубовка',
        'Маякский', 'Баракова', 'Хутор 7-й', 'Хутор 1-й', 'Хутор 11-й',
        'Изба плес', 'Храмова', 'Доможирова', 'Крепость', 'Храмцовская',
        'Изба лянтина', 'Слобода-бешкиль', 'Заимка-тренина',
        'Баракаевская', 'Дома отдыха кубань', 'Хуторской', 'Маяковского',
        'Маяк октября', 'Дом отдыха имени 40 лет октября', 'Сарай',
        'Дома отдыха успенское', 'Дома отдыха ершово', 'Дома отдыха озера',
        'Дома отдыха мпс березка', 'Дома отдыха огарево',
        'Дома отдыха покровское', 'Дом отдыха ударник', 'Терема',
        'Погост крест', 'Дома 1169 километр', 'Дома 1189 километр',
        'Дома 1007 километр', 'Дома отдыха', 'Усадьба пмк', 'Теремки',
        'Дома промкомбината', 'Дома 1121 километр', 'Погост ильинский',
        'Погост еленга', 'Домань', 'Погост воскресенье',
        'Дома 1143 километр', 'Дома 1128 километр', 'Избавля'],
       dtype=object),
 'Эмоции': array(['Надежда', 'Страховка', 'Гневково', 'Любовь', 'Страхово',
        'Страхинь', 'Страхиново', 'Тоскаево', 'Радость', 'Любовь труда',
        'Страхново', 'Гневашевская', 'Гневашево', 'Страхов', 'Страховский'],
       dtype=object),
 'Еда': array(['Масловка', 'Кашары', 'Сырцево', 'Чайки', 'Мясоедово',
        'Сыроватский', 'Рыбалкин', 'Пирогово', 'Орехово', 'Медвежье',
        'Маслова пристань', 'Медведовка', 'Лукьяновка', 'Медведьки',
        'Хлебороб', 'Лукин', 'Чайкино', 'Ореховка', 'Луканичи', 'Солька',
        'Лукинка', 'Хлебтово', 'Медведово', 'Медведи', 'Лукавица',
        'Медведково', 'Хлебницы', 'Медведево', 'Лукьяново', 'Чайка',
        'Маслово', 'Лукино', 'Молоковка', 'Сыровская', 'Луконино',
        'Лукшино', 'Сахарово', 'Медведки', 'Кашарята', 'Луканино',
        'Лукинская', 'Медовники', 'Медынцево', 'Лукавец', 'Ореховня',
        'Медынь', 'Сырнево', 'Молоково', 'Медениково', 'Лукино-холм',
        'Лукинское', 'Лукушино', 'Лукина гора', 'Медяна 2-я', 'Луковцино',
        'Медведица', 'Лукинцово', 'Кашарка', 'Кашара', 'Медведев колодезь',
        'Медвежий', 'Лукашевка', 'Лукьянчиково', 'Медвенка', 'Клюква',
        'Маслова', 'Медведчино', 'Лукошкино', 'Пироговка', 'Сахаровка',
        'Лукошкинский', 'Медовка', 'Сахарного завода', 'Луковец',
        'Квасово', 'Медвежка', 'Лука-журавинка', 'Квасьево', 'Лукмос',
        'Медвино', 'Медведки (горшково)', 'Лукашово', 'Луковщина', 'Лука',
        'Сыр-липки', 'Лукты', 'Лукьяненки', 'Лукиничи', 'Хлебниково',
        'Медное', 'Лукерьино', 'Луковицы', 'Ореховский',
        'Пироговка-ульяновка', 'Пироговка-соковнино', 'Пирогово-зыково',
        'Пирогово 1-е', 'Медведев', 'Медунецкое', 'Рыбалки', 'Медовая',
        'Маслово-трухачево', 'Маслово-никольское', 'Пирогово 2-е',
        'Маслово-волосевич', 'Лукотино', 'Лукка', 'Сахариха', 'Сырково',
        'Кашаево', 'Медухово', 'Ореховатка', 'Хлебники', 'Маслова гора',
        'Луковниково', 'Квасково', 'Сыропятово', 'Медово', 'Медянки',
        'Медведчиково', 'Сырцевка', 'Ореховец', 'Медведное', 'Медведка',
        'Медведиха', 'Сыркино', 'Медведицкое', 'Луки', 'Сырово',
        'Ореховщина', 'Сыр', 'Лукинского дома инвалидов', 'Медведцево',
        'Лукояниха', 'Лукьянцево', 'Лукново', 'Лукьянчиков', 'Маслов лог',
        'Рыбальчино', 'Медведевка', 'Хлебородное', 'Хлебное', 'Лукичевка',
        'Луковник', 'Сыроежино', 'Чайлово', 'Медлево', 'Сахареж', 'Сольба',
        'Лукьяники', 'Сыроквашино', 'Сырокоренье', 'Сырицы', 'Медягино',
        'Сырское', 'Масловский', 'Чайковского', 'Чайниково', 'Сырьево',
        'Рыбаки', 'Медное-власово', 'Орехово-зуево', 'Луковня',
        'Медвежьи озера', 'Пироговского лесопарка',
        'Медико-инструментального завода', 'Лукинда', 'Лукачек',
        'Орехово-приморское', 'Рыбачий', 'Медвежий кут', 'Рыбацкое',
        'Рыбалка кеми', 'Чайво', 'Чайыгда', 'Чай', 'Сырдах', 'Сырдатты',
        'Чайдах', 'Чайбуха', 'Рыбацкий стан', 'Рыбацкий', 'Медятово',
        'Кашаково', 'Медведерово', 'Хлебодаровка', 'Сыртланово',
        'Сахарозаводская', 'Лукинский', 'Кашаля', 'Лукьяновский',
        'Медякасы', 'Сыреси', 'Медикасы', 'Масловы', 'Медведевская',
        'Луконенки', 'Рыбаковщина', 'Лукоянка', 'Ореховы', 'Сырчины',
        'Сырьяны', 'Медяны', 'Сырченки', 'Медянка', 'Лукинщина',
        'Сыромуковы', 'Ореховцы', 'Сырда', 'Медвежена', 'Маслова дуброва',
        'Сырчаны', 'Медведок', 'Медкоедово', 'Соль-грязь', 'Мясовская',
        'Луково', 'Лапшар', 'Хлебино', 'Сырятино', 'Медаево',
        'Медоварцево', 'Чай-поселок', 'Медвежья поляна', 'Медвежий лог',
        'Сыромятниково', 'Масловское', 'Медяна', 'Луктос', 'Сыресево',
        'Лапша', 'Луканово', 'Сырятинский', 'Медведовское', 'Лукинки',
        'Медниково', 'Медвежково', 'Луковкино', 'Сырохватово', 'Орехи',
        'Лапшанга', 'Лукоянов', 'Сырт', 'Соль-илецк', 'Хлебовка',
        'Хлеборобный', 'Медногорск', 'Кашаевка', 'Лукина поляна',
        'Медаевка', 'Сырчики', 'Лукошки', 'Чайпыж', 'Сахары', 'Чайковская',
        'Сыро-платошино', 'Лукинцы', 'Чайковский', 'Сыра', 'Ореховая гора',
        'Сырейка', 'Медведевский', 'Хлебновка', 'Медяниково',
        'Сырт-смоленка', 'Хлебный', 'Маслов-орешин', 'Луков кордон',
        'Медведицкий', 'Сырья', 'Луковское', 'Медьма', 'Квасер', 'Сырдяны',
        'Кашабеги', 'Сырьез', 'Сырьезшур', 'Медянский', 'Рябина',
        'Лапшаур', 'Квасниковка', 'Чайное', 'Луковка', 'Хлеборобное',
        'Сахарный завод', 'Сырский', 'Сыры', 'Лукиново', 'Медынино',
        'Сыромолотная', 'Рыбацкий участок первый', 'Сыромолотово', 'Чайда',
        'Лукашино', 'Сахарное', 'Медяково', 'Медведск', 'Медведкино',
        'Медяковский', 'Лукошино', 'Орехов лог', 'Колбаса', 'Сырьевка',
        'Квасовка', 'Сыропятка', 'Сыропятское', 'Медвежья грива', 'Медет',
        'Хлебоприемный пункт', 'Рыбалка', 'Лукашкин яр', 'Рыбалово',
        'Медвежий ключ', 'Медведа', 'Медвеженский', 'Овощи',
        'Ореховая роща', 'Луковская', 'Медногорский', 'Рыбалко',
        'Ореховская', 'Сольвычегодск', 'Масловская', 'Лукияновская',
        'Лукинская-2', 'Медлеша', 'Луковецкий', 'Чайковское', 'Медовое',
        'Маслозеро', 'Медвежьегорск', 'Лукин остров', 'Медведева',
        'Лукин наволок', 'Хлебозеро', 'Лука-2', 'Квасильниково',
        'Хлебцово', 'Медвежья голова', 'Медведь', 'Сольцы', 'Ореховно 1-е',
        'Ореховно', 'Рыбаково', 'Сырмолоты', 'Сырмолотово', 'Лукомо',
        'Молокоедово', 'Лукашенки', 'Рыбаковы нивы', 'Орехново',
        'Хлебаниха', 'Сырой лес', 'Лукко', 'Медли', 'Маслогостицы',
        'Сыромятино', 'Орехова гора', 'Ореховичи', 'Лукошково', 'Луковищи',
        'Мясово', 'Сырохново', 'Меденицы', 'Орехов брод', 'Лукинчи',
        'Медвежская', 'Лукьяновская', 'Лукинское-2', 'Лукинское-1',
        'Лукачево', 'Хлебаево', 'Сыромяткино', 'Маслозавод', 'Квасюнино',
        'Медовщиково', 'Лукинцево', 'Мясокомбината', 'Лукерино',
        'Рыбацкая', 'Лукинская (юрьевская)', 'Медвежий взвоз',
        'Ореховая горка', 'Медвежек', 'Медвежий двор', 'Медвежья кара',

In [204]:
for key in only_name_by_theme.keys():
    print(f'{key}:', only_name_by_theme[key][:10], '\n')

Животные: ['Бобрава' 'Боброво' 'Соколовка' 'Котеневка' 'Котово' 'Быковка' 'Барсук'
 'Котов' 'Котляров' 'Волков']

Здания: ['Домановка' 'Хуторище' 'Хлевище' 'Домнино' 'Хуторцы' 'Слобода'
 'Теремошка' 'Слобода-селецкая' 'Дом отдыха' 'Доманичи']

Эмоции: ['Надежда' 'Страховка' 'Гневково' 'Любовь' 'Страхово' 'Страхинь'
 'Страхиново' 'Тоскаево' 'Радость' 'Любовь труда']

Еда: ['Масловка' 'Кашары' 'Сырцево' 'Чайки' 'Мясоедово' 'Сыроватский'
 'Рыбалкин' 'Пирогово' 'Орехово' 'Медвежье']

Особенные_места: ['Борисполье' 'Луговка' 'Гора-подол' 'Степь' 'Вершина' 'Борисов' 'Луганка'
 'Боровая' 'Береговой' 'Озеровский']

Жители: ['Кузнецовка' 'Кузнецы' 'Кузнец' 'Земледелец' 'Рабочий' 'Кузнецово'
 'Воинка' 'Людиново' 'Кузнецовский' 'Дворяниново']